@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,900;1,700&display=swap');
$base-color: white;
$quote-color: black;
$anime-color: #011627;
$character-color: #011627;
*{
    box-sizing: border-box;
    margin: 0%;padding: 0%;
}
.bar{
    height: 3px;
    font-size: 0.5rem;
    width: 90%;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
h4{
    font-size: 7rem;
    font-family: serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0%;
}
.header{
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-right: 3%;
    a{
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-left: 1%;
        background: linear-gradient(to top, yellow 50%, transparent 50%);
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: black;
        background: none;
    }
}
span{
    font-size: 10rem;
    font-weight: bold;
    opacity: 0.7;
    margin: 0;
    height: 5.5rem;
    position: relative;
    left: -10%;
}
.bg{
    background-color: rgb(255, 217, 0);
    width: 60%;
    content: ' ';
    margin: 5% 0;
    height: 100%;
    position: absolute;
    // transform: translateY(-50%);
    z-index: 0;
    overflow: visible;
}
body{
    background-color: $base-color;
    // margin: 12%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15%;
    position: relative;
    z-index: 10;
}
.row{
    display: flex;
    width: 100%;
}
.row:nth-of-type(3){
    justify-content: flex-end;
    margin-right: 5%;
}
.row:nth-of-type(4){
    justify-content: flex-end;
    margin-right: 5%;
}
h1{
    font-size: 3rem;
    color: $quote-color;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    margin: 1% 0;
    line-height: 1;
    a{
        text-decoration: none;
        color: black;
        background: linear-gradient(to top, yellow 50%, transparent 50%);
    }
}
h2{
    font-size: 2rem;
    color: $anime-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 1%;
}
h3{
    font-size: 1.5rem;
    color: $character-color;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 2%;
    background: linear-gradient(to top, yellow 50%, transparent 50%);
}
.section{
    height: 100%;
}

@media all and (max-width: 480px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.7rem;
    }
    h4{
        // font-size: 4rem;
        display: none;
    }
    span{
        font-size: 5rem;
        left: -7%;
        height: 3rem;
    }
    .header{
        z-index: 10;
        position: relative;
        margin-top: 7%;
        h5{
            font-size: 1.2rem;
            margin-left: 4%;
        }
    }
    .bg{
        margin: 40% 0;
        height: 100%;
    }
    .content{
        margin: 10% 7%;
        position: absolute;
        top: 30%;
    }
    
}
